body{

	background-image: url("../fondos/a.jpg");
	background-repeat: no-repeat;
	background-position: 30% 18%;
}

*{margin: 0;padding: 0;}

div.fondo{

	border-radius: 50px;
	background-image: url("../fondos/0013507410.jpg");
	background-repeat: no-repeat;
	border: 2px solid black;
	background-size: 50px;
    background-size: 100% 100%;
    width: 73%;
    height: 380px;
    margin-top: 0px;
    border-top: 0px;
    margin: auto;


}
.wrapper{

	width: 90%;
	max-width: 1000px;
	margin: 0 40px;
	overflow: hidden;
	text-align: center;
}

.wrapper2{

	width: 90%;
	max-width: 1000px;
	margin: 0 20px;
	overflow: hidden;
	text-align: center;
}


div.FondoTabla {

	  width: 100%;
	  height: 270px;
	  border-radius: 50px;	
	  border: 16px solid black;
	  border-bottom: 1px solid #111111;	
	  margin-top: 0px;
	  margin: auto;
	  background-color: #ffd966;
	  font-family: Monospace;
	  font-weight: bold;
	  font-size: 1.275em;
	  opacity: 0.6;
	  padding-top: 0px;
	  text-align: center;
	-webkit-transition:all 500ms ease;				
	-o-transition:all 500ms ease;
	transition:all 700ms ease;

}


.radio{

	float: left;
	margin-left:130px; 
}

.checkbox{

	float: right;
	margin-right: 140px;
}



.opc2 h5{

	font-size: 20px;
	font-family: courier;
	font-weight: bold;
}

div.FondoTabla caption{

	font-size: 30px;
	font-family: times;

}


.tabla{

	margin: 0 auto;
	border-style: 


}

.FondogrillaEmpleados{
 	 

 	  width: 80%;
 	  height: 400px;
	  border-radius: 10%;	
	  border: 5px solid black;	
	  margin: 5px auto;
	  background-color: #e6e6e6;
	  font-family: Monospace;
	  font-weight: bold;
	  font-size: 1.275em;
	  opacity: 0.6;
	  text-align: center;
	  
}

.tablaEmple{

width: 90%;
height: 30px;
margin: auto;
border-style: none;
}


.scru{

width: 100%;
height: 90%;
margin: 10px auto;
border-style: none;
overflow: auto;
}

.tablaEmple td{

	border-right: 2px solid black;
}


header nav a:hover{

	background: #ff6600;
	

}

.tabla input[type="text"]:active{

	color:#ffcc00 ;
	background:#808080;
}

header{

	width: 100%;
	overflow: hidden;
	background: #252932;
}



header .logo{

	color: #cccccc;
	font-size: 50px;
	line-height: 120px;	
	float: left;
}

header nav{

	float: right;
	line-height: 120px;

}

header nav a{

	color: #cccccc;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	-webkit-transition:all 500ms ease;				
	-o-transition:all 500ms ease;
	transition:all 700ms ease;
	border-radius: 40px;
}



.header2{

	position: fixed;
	height: 100px;

}

.header2 .logo{

	line-height: 80px;
	font-size: 15px;
}

.header2 nav{

	line-height: 80px;	
}


.fotoT{

	width: 200px;
	height: 155px;
	border:3px double black;
	border-radius: 40%;
}


/*                   RADIOBOTOM          CHECKBOX          */

